@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  :any-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
  }
}
.container {
  max-width: 1440px;
}
.header {
  height: 9vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  h5 {
    font-size: 1.5rem;
    font-weight: 00;
    color: black;
  }
  button {
    border: none;
    outline: none;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
.notFound {
  display: flex;
  font-size: 2rem;
  justify-content: center;
}
.countryDetails {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6rem;
  column-gap: 3.05vw;
}
.countryCard {
  width: 20vw;
  height: 27rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.countryBox {
  width: 100vw;
  padding: 5vw;
  height: 91vh;
  overflow-y: auto;
}
.countryFlag {
  img {
    width: 100%;
    height: 180px;
    border-radius: 5px 5px 0 0;
  }
}
.countryData {
  padding: 30px 37px;
  h2 {
    margin-bottom: 15px;
    font-weight: 900;
  }
  span {
    font-weight: 600;
  }
  h3 {
    margin-top: 10px;
    font-weight: 400;
    opacity: 80%;
  }
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  input {
    font-size: 17px;
    width: 30rem;
    height: 3.8rem;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .filterDiv {
    display: flex;
    column-gap: 30px;
  }
  select {
    padding: 0 1rem;
    font-size: 15px;
    background-color: white;
    height: 3rem;
    width: 12rem;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    option {
      width: 100%;
    }
  }
  .sortControls,
  .filterBox {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
  }
}
.countryContainer {
  padding: 5vw;
  height: 92vh;
  .backButton {
    margin-bottom: 5rem;
    button {
      font-size: 1.1rem;
      padding: 8px 35px;
      border-radius: 5px;
      border: none;
      outline: none;
    }
  }
  .countryDiv {
    display: flex;
    justify-content: space-between;
    img {
      width: 41vw;
      height: 42vh;
    }
    .countryInnerBox {
      display: flex;
      flex-direction: column;
      width: 40vw;
      padding: 0.5rem 2rem;
      h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
      }
    }
    .countryInfo {
      display: flex;
      justify-content: space-between;

      h2 {
        margin-bottom: 2rem;
      }
      span {
        font-size: 1rem;
        font-weight: 700;
      }
      h3 {
        margin-top: 10px;
        font-weight: 400;
        opacity: 80%;
      }
    }
  }
}
.borderCountry {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  h3 {
    font-weight: 300;
    margin: 0 5px;
    padding: 5px 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
}
.BorderCountryDiv {
  display: flex;
  column-gap: 10px;
  margin-top: 3rem;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.app-light {
  background-color: #fff;
  color: #000;
}
.app-dark {
  background-color: #27343c;
  color: rgb(180, 174, 174);
  button {
    background-color: black;
    color: rgb(230, 222, 222);
  }
  input,
  select {
    background-color: black;
    color: rgb(194, 185, 185);
  }
  input::placeholder {
    color: rgb(194, 185, 185);
  }
  .header {
    h5 {
      color: rgb(230, 222, 222);
    }
  }
  .countryData {
    color: rgb(230, 222, 222);
  }
}
.toogle-buttton {
  display: flex;
  column-gap: 5px;
  padding: 10px;
  border-radius: 5px;
}
